<div class="app-body">
  <div class="container">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong>Create Job</strong>
            </div>
            <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="form-group col-md-8">
                  <label for="wellNames">Well Names</label>
                  <ng-multiselect-dropdown id="wellNames" ngClass="form-control" [ngClass]="{ 'is-invalid': submitted && f.wellNames.errors }"
                    [data]="dropdownList" [settings]="dropdownSettings" formControlName="wellNames" required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submitted && f.wellNames.errors" class="invalid-feedback">
                    <div *ngIf="f.wellNames.errors.required">Well Names are required</div>
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label for="startDepth">Start Depth</label>
                  <input type="number" class="form-control" id="startDepth" formControlName="startDepth" [ngClass]="{ 'is-invalid': submitted && f.startDepth.errors }">
                  <div *ngIf="submitted && f.startDepth.errors" class="invalid-feedback">
                    <div *ngIf="f.startDepth.errors.required">Start Depth are required</div>
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label for="endDepth">End Depth</label>
                  <input type="number" class="form-control" id="endDepth" formControlName="endDepth" [ngClass]="{ 'is-invalid': submitted && f.endDepth.errors }">
                  <div *ngIf="submitted && f.endDepth.errors" class="invalid-feedback">
                    <div *ngIf="f.endDepth.errors.required">End Depth are required</div>
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label for="startEndTimeLog">Start And End Time Log</label>
                  <input type="text" autocomplete="off" class="form-control" ngxDaterangepickerMd [timePicker]="true"
                    [timePickerSeconds]="true" [timePickerIncrement]="15" [timePicker24Hour]="true" [locale]="{format: 'DD/MM/YYYY HH:mm:ss', firstDay: 1}"
                    id="startEndTimeLog" formControlName="startEndTimeLog" [ngClass]="{ 'is-invalid': submitted && f.endDepth.errors }" />
                  <div *ngIf="submitted && f.startEndTimeLog.errors" class="invalid-feedback">
                    <div *ngIf="f.startEndTimeLog.errors.required">Start And End Time Log are required</div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <label>Frequency</label>
                        <select class="form-control" formControlName="frequency" [ngClass]="{ 'is-invalid': submitted && f.frequency.errors }">
                          <option value="daily">Daily</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                        </select>
                      </div>
                      <div class="col-md-3" *ngIf="f.frequency.value == 'weekly'">
                        <label>Day</label>
                        <select class="form-control" formControlName="_day" [ngClass]="{ 'is-invalid': submitted && f._day.errors }">
                          <option value="">--- Select Day ---</option>
                          <option value="SUN">Sunday</option>
                          <option value="MON">Monday</option>
                          <option value="TUE">Tuesday</option>
                          <option value="WED">Wednesday</option>
                          <option value="THU">Thursday</option>
                          <option value="FRI">Friday</option>
                          <option value="SAT">Saturday</option>
                        </select>
                        <div *ngIf="submitted && f._day.errors" class="invalid-feedback">
                          <div *ngIf="f._day.errors.required">Please select day</div>
                        </div>
                      </div>
                      <div class="col-md-3" *ngIf="f.frequency.value == 'monthly'">
                        <label>Date</label>
                        <select class="form-control" formControlName="_date" [ngClass]="{ 'is-invalid': submitted && f._date.errors }">
                          <option value="">--- Select Date ---</option>
                          <option *ngFor="let date of dates" value="{{date}}">{{date}}</option>
                        </select>
                        <div *ngIf="submitted && f._date.errors" class="invalid-feedback">
                          <div *ngIf="f._date.errors.required">Please select date</div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Hour</label>
                        <select class="form-control" formControlName="_hour" [ngClass]="{ 'is-invalid': submitted && f._hour.errors }">
                          <option value="">--- Select Hour ---</option>
                          <option *ngFor="let hour of hours" value="{{hour}}">{{hour}}</option>
                        </select>
                        <div *ngIf="submitted && f._hour.errors" class="invalid-feedback">
                          <div *ngIf="f._hour.errors.required">Please select hour</div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Minute</label>
                        <select class="form-control" formControlName="_minute" [ngClass]="{ 'is-invalid': submitted && f._minute.errors }">
                          <option value="">--- Select Minute ---</option>
                          <option *ngFor="let minute of minutes" value="{{minute}}">{{minute}}</option>
                        </select>
                        <div *ngIf="submitted && f._minute.errors" class="invalid-feedback">
                          <div *ngIf="f._minute.errors.required">Please select minute</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>