<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Job List
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead class="center-align">
              <tr>
                <th>wellNames</th>
                <th>startDepth</th>
                <th>endDepth</th>
                <th>startTimeLog</th>
                <th>endTimeLog</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs">
                <td style="text-align: left">{{ job.wellNames }}</td>
                <td class="center-align">{{ job.startDepth }}</td>
                <td class="center-align">{{ job.endDepth }}</td>
                <td class="center-align">{{ job.startTimeLog | date :'dd-MMM-yy H:mm' }}</td>
                <td class="center-align">{{ job.endTimeLog | date :'dd-MMM-yy H:mm' }}</td>
                <td class="center-align"><span [ngClass]="(job.status=='running')?'badge badge-success':'badge badge-danger'">{{
                    job.status }}</span></td>
                <td class="center-align">
                  <i *ngIf="(job.status=='paused')" class="fa fa-play fa-lg icon-actions" (click)="changeJobStatus(job, 'running')"></i>
                  <i *ngIf="(job.status=='running')" class="fa fa-stop fa-lg icon-actions" (click)="changeJobStatus(job, 'paused')"></i>
                  <i class="fa fa-pencil fa-lg icon-actions"></i>
                  <i class="fa fa-trash fa-lg icon-actions"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>