<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/deepiq-icon.jpeg', width: 100, height: 30, alt: 'DeepIQ'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/deepiq-icon.jpeg', width: 30, height: 30, alt: 'DeepIQ'}" [sidebarToggler]="'lg'" [mobileAsideMenuToggler]=false [sidebarToggler]=false [asideMenuToggler]=false>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/11.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://platform.deepiq.co">DeepIQ</a> &copy; 2019</span>
  <span class="ml-auto">Powered by <a href="https://platform.deepiq.co">DeepIQ</a></span>
</app-footer>